.library_hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 64rem) {
    .library_hero {
        height: auto;
        background-size: contain;
        background-position: center;
        background-color: #000;
        aspect-ratio: 2 / 1;
    }
}

@media (max-width: 48rem) {
    .library_hero {
        height: auto;
        background-size: contain;
        background-position: center;
        background-color: #000;
        aspect-ratio: 2 / 1;
    }
}