.banner1-section {
    width: 100%;
    overflow: hidden;
}

.banner1 {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .banner1 {
        height: auto;
        background-size: contain;
        background-position: center;
        background-color: #000;
        padding-bottom: 40%;
    }
}

@media screen and (max-width: 768px) {
    .banner1 {
        height: auto;
        background-size: contain;
        background-position: center;
        background-color: #000;
        padding-bottom: 60%;
    }
}