@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.footer {
  background-color: #f9f6ef;
  color: #111;
  font-family: 'Geist', sans-serif;
  padding: 60px 100px;
  
}

.footer-header {
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; 
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .footer-header {
    gap: 0; 
    justify-content: center; 
  }

  .footer-title {
    font-size: 1.5rem; 
  }

  .footer-logo {
    width: 36px; 
  }
}


.footer-logo {
  width: 36px;
  height: auto;
  object-fit: contain;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 400; 
  color: #000000;
  white-space: nowrap;
}

.footer-tagline {
  font-size: 1rem;
  color: #333;
  margin-bottom: 50px;
  
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 90px; 
  margin-bottom: 60px;
}

.footer-column {
  flex: 1 1 250px;
  min-width: 200px;
  
}

.footer-column p {
  margin: 5px 0;
}

.footer-column a {
  color: #111;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 0.9rem;
  color: #111;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  text-align: left; 
  margin-top: 40px;
  line-height: 1.6;
}

.footer-bottom p {
  margin: 0;
}

/* Responsive CSS */
@media (max-width: 900px) {
  .footer {
    padding: 40px 20px;
    text-align: left;
  }

  .footer-header {
    justify-content: left;
    gap: 400px;
    gap: 20;
  }

  .footer-middle {
    flex-direction: row;
    align-items: center;
    gap: 13px;
  }

  .footer-column {
    text-align: left;
  }

  .footer-bottom {
    text-align: left;
    padding-top: 15px;
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .footer-header {
    flex-direction: column;   
    align-items: flex-start;
    text-align: left;
    gap: 8px;
  }
}
