@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.footer {
  background-color: #f9f6ef;
  color: #111;
  font-family: 'Geist', sans-serif;
  padding: 3.75rem 6.25rem;

}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
}

@media (max-width: 31.25rem) {

  .footer-header {
    gap: 0;
    justify-content: center;
  }

  .footer-title {
    font-size: 1.5rem;
  }

  .footer-logo {
    width: 2.25rem;
  }
}

.footer-logo {
  width: 2.25rem;
  height: auto;
  object-fit: contain;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}

.footer-tagline {
  font-size: 1rem;
  color: #333;
  margin-bottom: 3.125rem;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5.625rem;
  margin-bottom: 3.75rem;
}

.footer-column {
  flex: 1 1 15.625rem;
  min-width: 12.5rem;
}

.footer-column p {
  margin: 0.3125rem 0;
}

.footer-column a {
  color: #111;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 0.9rem;
  color: #111;
  border-top: 0.0625rem solid #ddd;
  padding-top: 1.25rem;
  text-align: left;
  margin-top: 2.5rem;
  line-height: 1.6;
}

.footer-bottom p {
  margin: 0;
}
@media (max-width: 56.25rem) {

  .footer {
    padding: 2.5rem 1.25rem;
    text-align: left;
  }

  .footer-header {
    justify-content: left;
    gap: 25rem;
    gap: 1.25rem;
  }

  .footer-middle {
    flex-direction: row;
    align-items: center;
    gap: 0.8125rem;
  }

  .footer-column {
    text-align: left;
  }

  .footer-bottom {
    text-align: left;
    padding-top: 0.9375rem;
    margin-top: 1.875rem;
  }
}

@media (max-width: 31.25rem) {
  .footer-header {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
  }
}