@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.hero-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Geist", sans-serif;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    /* left & right alignment */
    align-items: center;
    color: white;
    padding: 0 60px;
    width: 100%;
}

/* Left side (tagline) */
.hero-left {
    text-align: left;
    max-width: 50%;
}

.hero-left .tagline {
    /* font-size: 150px; */
    font-weight: 500px;
    font-size: xx-large;
}

/* Right side (subtext) */
.hero-right {
    text-align: right;
    max-width: 400px;
}

.hero-right .subtext {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

/* Heading centered above both */
.hero-heading {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}

.hero-heading h1 {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
}

/* /Responsive: Tablets */
@media (max-width: 1024px) {
    .hero-heading h1 {
        font-size: 50px;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding: 20px;
    }

    .hero-left,
    .hero-right {
        max-width: 100%;
        text-align: center;
    }

    .hero-heading h1 {
        font-size: 38px;
        background-size: cover;
    }
}