.hero_section {
    background-image: url('../assets/images/hero.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: 'Geist', sans-serif;
    position: relative;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero_section header {
    color: #fff;
    margin-bottom: 3.125rem;
    z-index: 2;
}

.hero_section .hero_heading {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.03em;
    margin-bottom: 1em;
}

.hero_section .hero_subheading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 400;
    width: 100%;
    max-width: 75rem;
}

.hero_section .hero_subheading p {
    display: flex;
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 50rem;

}

@media screen and (max-width: 64rem) {

    .hero_section {
        min-height: auto;
        height: auto;
        background-size: contain;
        background-position: center;
        background-color: #000;
        aspect-ratio: 4 / 2.7;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

    }

    .hero_section .hero_heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .hero_section .hero_subheading {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 48rem) {


    .hero_section {
        height: auto;
        background-size: contain;
        background-position: center;
        background-color: #000;
        aspect-ratio: 2 / 2.2;
        padding: 1.875rem 0.9375rem;

    }

    .hero_section .hero_heading {
        font-size: 2rem;
        text-align: center;
    }

    .hero_section .hero_subheading {
        justify-content: center;
        text-align: center;
    }

    .hero_section .hero_subheading p {
        font-size: 1rem;

    }
}