.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071503;
    padding: 20px 60px;
    border-top: 3px solid #2a2f29;
    border-radius: 20px 20px 0 0;
}

.navbar-logo img {
    width: 40px;
    height: auto;
}

.navbar-links {
    display: flex;
    gap: 30px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #a1a1a1;
}
/* @media (max-width: 40px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px 20px;
    } */

 @media (max-width: 600px) {
     .navbar {
         padding: 15px 20px;
     }

     .logo img {
         width: 26px;
         height: 26px;
     }

     .nav-links {
         gap: 10px;
     }

     .nav-links a {
         font-size: 12px;
     }}
