 @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #0D1F08;
     padding: 20px 60px;
     border-top: 3px solid #2a2f29;
     position: fixed;
     width: 100%;
     height:11%;
     top: 0;
     z-index: 100;
 }

 .navbar-logo img {
     width: 40px;
     height: auto;
 }

 .navbar-links {
     display: flex;
     gap: 30px;
 }

 .nav-item {
     color:#ffffff;
     text-decoration: none;
     font-family: "Geist", sans-serif;
     font-size: 15px;
     transition: color 0.3s ease;
 }

 .nav-item:hover {
     color: #a1a1a1;
 }

 @media screen and (max-width: 900px) {
     .navbar {
         padding: 15px 30px;
     }

     .navbar-links {
         gap: 20px;
     }

     .nav-item {
         font-size: 15px;
     }
 }

 @media screen and (max-width: 40px) {
     .navbar {
         flex-direction: column;
         align-items: flex-end;
         padding: 10px 20px;
     }

     @media (max-width: 600px) {
         .navbar {
             padding: 15px 20px;
         }

         .logo img {
             width: 26px;
             height: 26px;
         }

         .nav-links {
             gap: 10px;
         }

         .nav-links a {
             font-size: 12px;
         }
          .nav-item {
            font-size: 10px;
            
         }

     }

 }