@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.ready-container {
  background: #1F0808;
  color: #FFFFFF;
  padding: 5rem 2.5rem;
  font-family: Arial, sans-serif;
}
.ready-title {
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  text-align: left;
  margin-left:7.3rem;
}
.ready-step-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80%;
  margin: auto;
  gap: 2rem;
  padding: 5rem 0;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
}
.ready-step-number {
  font-size: 16rem;
  font-weight: 200;
  line-height: 0.8;
}
.ready-step-content {
  width: 40%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.ready-step-content h3,
.ready-step-content p {
  font-size: 1.1rem;
  font-weight: normal;
}
.ready-last-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: 7.8rem;
  padding-top: 5rem;
}

.ready-last-text p {
  font-size: 1.5rem;
  font-weight: normal;
}

.ready-btn-wrapper {
  width: fit-content;
  margin-left:49rem;
}

.ready-btn {
  background: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.875rem 2.125rem;
  margin-top: -3rem;
  margin-bottom: 1.5em;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 64rem) {
  .ready-title {
      margin: 0 0 1rem 0;
      margin-left:4.7rem;
  
    }
  .ready-step-item {
    gap: 1.5rem;
    padding: 2rem 0;
  }

  .ready-step-number {
    font-size: 8rem;
    width: 25%;
  }

  .ready-step-content {
    width: 75%;
  }
  .ready-btn-wrapper {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;

  }


  .ready-btn {
    margin: 0;
    margin-left: 28rem;
  }
}

@media screen and (max-width: 48rem) {
  .ready-container {
    padding: 2rem 1rem;
  }

  .ready-title {
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    margin-left: 1.2rem;
    
  }

  .ready-step-item {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
  }

  .ready-step-number {
    font-size: 4.5rem;
    width: 100%;
  }

  .ready-step-content {
    width: 100%;
  }

  .ready-step-content h3 {
    padding: 10px 0;
  }

  .ready-last-text {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }

  .ready-last-text p {
    font-size: 20px;
    margin-right: 3rem;
    margin-bottom: 1rem;
  }
  .ready-btn-wrapper {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .ready-btn {
    margin: 0;
    margin-right:1rem;
  }
}