<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.services-top-image img,
.services-bottom-image img {
  width: 100%;                
  height: auto;               
  margin: 70;             
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  */
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-size: cover;
}

.fade-slide {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.fade-slide.show {
  opacity: 1;
  transform: translateY(0);
}

/* .services-top-image img:hover,
.services-bottom-image img:hover {
  transform: scale(1.02);
} */

.services-container {
  width: 100%;
  font-family: 'Geist', sans-serif;
  color: #FFFFFF;
  background-color: #0D1F08;
  line-height: 1.6;
}


.top-stats {
  background-color: #F7F4EB;
  color: #0D1F08;
  text-align: center;
  padding: 80px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.top-stats h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.top-stats p {
  font-size: 0.85rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 10px;
  opacity: 0.8;
}


.services-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 20px;
}

.services-section h3 {
  font-size: 1.2rem;
  width:548;
  height: auto;
  color: #FFFFFF;
  margin-bottom: 60px;
  line-height: 1.4;
  text-align:left;
}

.services-section h3 span {
  color: #bfbfbf;
}
.service_section_content{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-template-rows: repeat(3, auto);
}

.service-category {
  grid-column: span 1;
  display: flex;
  /* display:grid; */
  /* grid-column: 2; */
  /* grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto);    */
  gap: 20px;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}


.service-category h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  width: 30%; 
}
.service-category ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
  width: 30%; /* Right column fix width */
}

.service-category li {
  margin-bottom: 4px;
}

.service-category li:hover {
  color: #fff;
  transition: color 0.3s ease;
}


@media (max-width: 932px) {
  .service_section_content{
    grid-template-columns: repeat(2,1fr);
  }
  .service-category{
    flex-direction: column;
  }
  .top-stats {
    padding: 60px 15px;
    gap: 30px;
  }

  .top-stats h2 {
    font-size: 2.5rem;
  }

  .services-section {
    padding: 80px 15px;
    
  }

  .services-section h3 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .service-category {
    grid-template-columns: 1fr;  /* small screen = single column */
    
  }
}

  .service-category h4,
  .service-category ul {
    width: 100%;
       
              
  }


@media (max-width: 480px) {
  .service-category {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .service-category h4,
  .service-category ul {
    width: 100%;
  }

  .service-category ul {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
}


>>>>>>> 7f7b1e576834673c452c98f1c7156dc4a2f20a90
