.services-top-image img,
.services-bottom-image img {
  width: 100%;                
  height: auto;               
  object-fit: cover;          
  margin: 70;             
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* .services-top-image img:hover,
.services-bottom-image img:hover {
  transform: scale(1.02);
} */

.services-container {
  width: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #f5f5f5;
  background-color: #0D1F08;
  line-height: 1.6;
}


.top-stats {
  background-color: #f5f5f5;
  color: #0D1F08;
  text-align: center;
  padding: 80px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.top-stats h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.top-stats p {
  font-size: 0.85rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 10px;
  opacity: 0.8;
}


.services-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 20px;
}

.services-section h3 {
  font-size: 1.2rem;
  width:548;
  height: auto;
  color: #fff;
  margin-bottom: 60px;
  line-height: 1.4;
  text-align:left;
}

.services-section h3 span {
  color: #bfbfbf;
}


.service-category {
  margin-bottom: 60px;
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
}

.service-category h4 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 10px;
}

.service-category ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 0.95rem;
  text-align: left;
  justify-content: center;
}

.service-category li {
  margin-bottom: 4px;
}


.service-category li:hover {
  color: #fff;
  transition: color 0.3s ease;
}


@media (max-width: 992px) {
  .top-stats {
    padding: 60px 15px;
    gap: 30px;
  }

  .top-stats h2 {
    font-size: 2.5rem;
  }

  .services-section {
    padding: 80px 15px;
  }

  .services-section h3 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .top-stats {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .top-stats h2 {
    font-size: 2rem;
  }

  .services-section {
    padding: 60px 15px;
  }
}

@media (max-width: 480px) {
  .top-stats {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 50px 10px;
  }

  .top-stats h2 {
    font-size: 1.8rem;
  }

  .services-section {
    padding: 50px 10px;
  }

  .services-section h3 {
    font-size: 1.4rem;
  }
}
