@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.testimonial-section {
    width: 100%;
    text-align: center;
    padding: 80px 20px;
    font-family: "Geist", sans-serif;
    background: #ffffff;
}

.testimonial-title {
    font-size: 26px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: "Geist", sans-serif;
    color: #000000;
}

.testimonial-subtitle {
    font-size: 14px;
    margin: 0 auto 40px;
    line-height: 1.6;
    color: #000000;
    text-align: center;
    font-weight: 500;
    font-family: "Geist", sans-serif;
}

.testimonial-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 8px;
    padding: 40px 30px;
    max-width: 650px;
    margin: 0 auto;
}

.testimonial-text {
    font-family: "Geist", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    margin-bottom: 20px;
}

.testimonial-author {
    font-size: 16px;
    font-family: "Geist", sans-serif;
    color: #000000;
    font-weight: 600;
    margin-bottom: 25px;
}

.testimonial-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dots {
    color: h;
    display: flex;
    gap: 6px;
}

.dot {
    width: 7px;
    height: 7px;
    background: #b4b4b4;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.dot.active {
    background: #111;
    transform: scale(1.2);
}

.testimonial-footer {
    margin-top: 40px;
    font-size: 14px;
    color: #444;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.consult-button1 {
    display: inline-block;
    background-color: #31110F;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.875rem 1.5rem;
    margin-left: 0.5rem;
    margin-top: 3rem;
    border-radius: 1.875rem;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .testimonial-subtitle {
        max-width: 380px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .testimonial-subtitle {
        max-width: 510px;
    }
}

@media (max-width: 480px) {
    .testimonial-section {
        padding: 45px 10px;
    }

    .testimonial-box {
        max-width: 260px;
        padding: 16px 14px;
        margin: 0 auto;
        border-radius: 6px;
        min-height: 300px;
    }

    .testimonial-text {
        font-size: 20px;
        line-height: 3;
        max-width: 230px;
        margin: 0 auto 14px;
        font-weight: 600;
        text-align: center;
    }

    .testimonial-author {
        font-size: 12px;
        margin-bottom: 14px;
        font-weight: 600;
    }

    .testimonial-controls {
        gap: 10px;
        margin-top: 6px;
    }

    .arrow {
        font-size: 16px;
    }

    .dot {
        width: 5px;
        height: 5px;
    }

    .testimonial-title {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .testimonial-subtitle {
        font-size: 12px;
        max-width: 230px;
        line-height: 1.45;
        margin: 0 auto 20px;
    }
}