@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.testimonial-section {
    width: 100%;
    text-align: center;
    padding: 80px 20px;
    font-family: "Geist", sans-serif;
    background: #ffffff;
}

/* Title */
.testimonial-title {
    font-size: 26px;
    font-weight: 600;
     margin-top: 70px; 
     margin-bottom: 25px 
}

/* Subtitle paragraph */
.testimonial-subtitle {
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto 40px;
    line-height: 1.6;
    color: #000000;
}

/* Big white quote box */
.testimonial-box {
    background: #F6F6F6;
    border-radius: 8px;
    padding: 40px 30px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

/* Quote text */
.testimonial-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    color: #000000;
    margin-bottom: 20px;
}

/* Author */
.testimonial-author {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 25px;
}

/* Controls */
.testimonial-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Dots */
.dots {
    display: flex;
    gap: 6px;
}

.dot {
    width: 7px;
    height: 7px;
    background: #b4b4b4;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.dot.active {
    background: #111;
    transform: scale(1.2);
}

/* Footer small text */
.testimonial-footer {
    margin-top: 40px;
    font-size: 14px;
    color: #444;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

/* Button */
.consult-btn {
    margin-top: 25px;
    padding: 12px 28px;
    background: #3E1D16;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.consult-btn:hover {
    transform: scale(1.05);
}