@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.offer-section {
    width: 100%;
    min-height: 10vh;
    background: #0D1F08;
    color: #F7F4EB;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3.75rem;
    gap: 3.75rem;
    font-family: "Geist", sans-serif;
}

.offer-left {
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
}

.offer-heading {
    font-family: "Geist", sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #F7F4EB;
    margin: 0;
    padding-top: 2.1rem;
    display: flex;
    align-items: flex-start;
}

.offer-right {
    flex: 0.8;
}

.offer-list {
    padding: 20px;
    font-size: 4.2rem;
    line-height: 1.2;
    font-weight: 600;
}
.more {
    color: #FFF0C4;
}
.seri-button {
    margin-top: 2.1875rem;
    margin-bottom: 1.5625rem;
    padding: 0.75rem 1.125rem;
    background: #FFFFFF;
    color: #000000;
    border-radius: 6.5625rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-family: inherit;
    text-decoration: none;
    transition: 0.2s ease;
}
.seri-button:hover {
    transform: scale(1.05);
}
@media screen and (max-width: 30rem) {

    .offer-list p,
    .offer-more {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 64rem) {

    .offer-section {
        display: flex;
        text-align: left;
        flex-direction: column;
        gap: 1.875rem;
        padding: 2.5rem 1.25rem;
    }

    .offer-left {
        display: flex;
        text-align: right;
    }

    .offer-right {
        width: 100%;
    }

    .offer-btn {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 48rem) {
    .offer-section {
        padding: .875rem 1.5625rem;
    }

   .offer-list {
       font-size: 1.5rem;
       line-height: 1.5;
       margin-left: -1rem;
   }

    .offer-title h2 {
        font-size: 2.375rem;
        text-align: right;
    }

    .offer-left {
        display: flex;
        text-align: right;
    }

    .offer-btn button {
        width: 100%;
        font-size: 1rem;
    }
}