@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.offer-section {
    width: 100%;
    min-height: 10vh;
    background: #0D1F08;
    color: #F7F4EB;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    gap: 60px;
    font-family: "Geist", sans-serif;
}


.offer-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.offer-heading {
    font-family: "Geist", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #F7F4EB;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}


.offer-right {
    flex: 2;
}

.offer-list {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 500;
}

.more {
    color: #FFF0C4;
}

.seri-button {
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 12px 18px;
    background: #FFFFFF;
    color: #000000;
    border-radius: 105px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
    transition: 0.2s ease;
}

.seri-button:hover {
    transform: scale(1.05);
}


@media screen and (max-width: 480px) {

    .offer-list p,
    .offer-more {
        font-size: 24px;
    }
}
@media screen and (max-width: 1024px) {

    .offer-section {
        display: flex;
        text-align: left;
        flex-direction: column;

        gap: 30px;
        padding: 40px 20px;
    }
    .offer-left {
        display: flex;
        text-align: right;
    }
    .offer-right {
        width: 100%;
    }
    .offer-btn {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 768px) {

    .offer-title h2 {
        font-size: 22px;
        text-align: right;
    }

    .offer-left {
        display: flex;
        text-align: right;
    }

    .offer-list p {
        font-size: 15px;
    }

    .offer-btn button {
        width: 100%;
        font-size: 16px;
    }
}